@keyframes selected {
  100% {
    transform: scale(1.15);
  }
}

@media all and (min-width: 1440px) {
  .navCategory {
    .navBtn {
      &:hover {
        transform: translateY(-10px);
        span {
          color: #ee6983;
        }
      }
      &.active {
        color: #ee6983;
        span {
          display: inline-block;
          animation: selected 1s infinite alternate ease-in-out;
        }
        em {
          color: #000;
          font-weight: 600;
        }
      }
      em {
        font-size: 0.7vw;
        font-weight: 300;
        color: var(--color-lightGrey);
      }
    }
  }
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 3.6vw auto 0;
  display: flex;
  justify-content: space-between;
  transition: var(--transition-custom);
  background-color: #fff;
  z-index: 99;
  .titleSlide {
    overflow: hidden;
    h1 {
      width: 15.6vw;
      transition: 0.6s var(--bezier-custom);
      font-size: 1.7vw;
      font-weight: 600;
      padding-left: 8.333vw;
      cursor: pointer;
      position: relative;
      transition: 0.5s var(--bezier-custom);
      em {
        display: block;
        font-size: 0.7vw;
        font-weight: 500;
        margin-top: 0.5vw;
        color: var(--color-lightGrey);
      }
      &::after {
        content: "Portfolio";
        position: absolute;
        font-size: 2.6vw;
        font-weight: 700;
        line-height: 4.6vw;
        top: 100%;
        letter-spacing: -1px;
        color: var(--color-softBlk);
      }
      &:hover::after {
        color: #e99b9b;
      }
    }
  }
  .navCategory {
    display: flex;
    padding-right: 8.333vw;
    position: absolute;
    right: 0;
    transition: var(--transition-custom);
    .navBtn {
      display: flex;
      align-items: center;
      gap: 0.8vw;
      font-size: 16px;
      overflow: hidden;
      margin: 0 1vw;
      padding: 0 0.5vw;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 2.1vw;
      cursor: pointer;
      position: relative;
      transition: var(--transition-custom);
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.active {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 20px;
    background-color: #fff;
    border-radius: 0 0 1.5vw 1.5vw;
    .titleSlide {
      h1 {
        transform: translateY(-100%);
      }
    }
    .navCategory {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .mobileMenu {
    display: none;
  }
  .mobileGnb {
    display: none;
  }
}
