.article_skills {
  margin: 11.2vw 0 11.2vw;
  .skillsList {
    display: flex;
    justify-content: flex-end;
    h4 {
      width: 14.6vw;
      font-size: 2vw;
      position: relative;
      padding-right: 6.8vw;
      margin-top: 2.6vw;
      &::before {
        content: "";
        position: absolute;
        width: 0.4vw;
        height: 2vw;
        background-color: #878787;
        border-radius: 9px 0 0 9px;
        left: -1.8vw;
      }
    }
    &:nth-of-type(1) h4::before {
      background-color: #fa9856;
    }
    &:nth-of-type(2) h4::after {
      content: "(ES6+)";
      font-size: .9vw;
      font-weight: 500;
      color: #878787;
      margin-left: 0.8vw;
    }
    &:nth-of-type(2) h4::before {
      background-color: #EDE862;
    }
    &:nth-of-type(3) h4::before {
      background-color: #22559C;
    }
    &:nth-of-type(4) h4::before {
      background-color: #73508E;
    }
    &:nth-of-type(5) h4::before {
      background-color: #F27370;
    }
    ul {
      width: 43.5vw;
      list-style: disc;
      border-bottom: 1px solid #878787;
      padding: 2.6vw 1.6vw 2.6vw 1.6vw;
      li {
        font-weight: 500;
        margin-bottom: 1.2vw;
        &::marker {
          color: #878787;
        }
      }
    }
  }
}
