// Pretendard font.css
@import url(./font.css);

:root {
  --color-lightGrey: #878787;
  --color-softBlk: #2d2d2d;
  --transition-custom: 0.4s cubic-bezier(0.49, 0.06, 0.08, 1);
  --bezier-custom: cubic-bezier(0.49, 0.06, 0.08, 1);
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: var(--color-softBlk);
  letter-spacing: -1px;
  overflow-x: hidden;
  p {
    font-weight: 500;
    &.boldTxt {
      font-weight: 700;
    }
  }
  .headline {
    width: 430px;
    text-align: right;
    padding: 13px 0;
    font-size: 70px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    margin-bottom: 80px;
  }
  footer {
    text-align: right;
    border-top: 1px solid var(--color-lightGrey);
    margin: 0 160px;
    padding: 50px 0;
    line-height: 1.6;
  }
}
