// Pretendard font.css
@import url(./font.css);

:root {
  --color-lightGrey: #878787;
  --color-softBlk: #2d2d2d;
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: var(--color-softBlk);
  letter-spacing: -1px;
  p {
    font-weight: 500;
    &.boldTxt {
      font-weight: 700;
    }
  }

}
