.gooey {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  filter: blur(8px) contrast(10);
  div {
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    animation: rotate1 5s infinite linear;
    span {
      width: 20px;
      height: 20px;
      background-color: #000;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      animation: move1 2s infinite linear alternate-reverse;
    }
  }
}

@keyframes rotate1 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move1 {
  100% {
    left: 150px;
  }
}
